Repository awslabs/amazon-bedrock-agentcore-samples, pull requests merged in 2025-09, with the labels that each got.

#317 Nova Sonic AgentCore intgeration sample
  03-integrations/nova/nova-sonic/README.md
  03-integrations/nova/nova-sonic/images/nova-sonic-multi-agent-agentcore.png
Labels: 03-integrations

#334 PR to fix typo add missing package and added name in contributors.
  01-tutorials/03-AgentCore-identity/05-Outbound_Auth_3lo/runtime_with_strands_and_egress_3lo.ipynb
  01-tutorials/07-AgentCore-E2E/requirements.txt
  CONTRIBUTORS.md
Labels: 01-tutorials, 03-AgentCore-identity, 07-AgentCore-E2E

#297 updated to remove vulnerable react components
  02-use-cases/text-to-python-ide/frontend/index.html
  02-use-cases/text-to-python-ide/frontend/package-lock.json
  02-use-cases/text-to-python-ide/frontend/package.json
  02-use-cases/text-to-python-ide/frontend/src/App.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/CodeDisplay.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/CodeEditor.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/CsvUploadModal.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/ExecutionResults.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/ExecutionTimer.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/ImageDisplay.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/InteractiveExecutionModal.jsx
  02-use-cases/text-to-python-ide/frontend/src/components/SessionHistory.jsx
  02-use-cases/text-to-python-ide/frontend/src/index.jsx
  02-use-cases/text-to-python-ide/frontend/src/services/api.js
  02-use-cases/text-to-python-ide/frontend/vite.config.js
Labels: 02-use-cases, text-to-python-ide, Review Ready

#319 Sample - Multi-runtime, multi-framework example with boto3 invocation
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/README.md
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/architecture.png
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/distributed_agents_with_agentcore.ipynb
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/hr_agent/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/orchestrator_agent/invoke_agent_utils.py
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/orchestrator_agent/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/tech_agent/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/05-multi-agents/01-multi-runtimes-with-boto3/utils.py
  CONTRIBUTORS.md
Labels: 01-tutorials, 01-AgentCore-runtime

#344 Fix tutorial notebooks compatibility with starter toolkit v0.1.10+
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/01-strands-with-bedrock-model/runtime_with_strands_and_bedrock_models.ipynb
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/02-langgraph-with-bedrock-model/runtime_with_langgraph_and_bedrock_models.ipynb
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/03-strands-with-openai-model/runtime_with_strands_and_openai_models.ipynb
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/02-understanding-runtime-context/understanding_runtime_context.ipynb
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/03-handling-large-payloads/handling_large_payloads.ipynb
  01-tutorials/03-AgentCore-identity/04-Outbound Auth example/runtime_with_strands_and_openai_models.ipynb
  01-tutorials/04-AgentCore-memory/03-advanced-patterns/02-memory-runtime-integration/runtime_memory_integration.ipynb
  01-tutorials/06-AgentCore-observability/01-Agentcore-runtime-hosted/runtime_with_strands_and_bedrock_models.ipynb
  CONTRIBUTORS.md
Labels: 01-tutorials, 01-AgentCore-runtime, 03-AgentCore-identity, 04-AgentCore-memory, 06-AgentCore-observability

#311 Architecture Image update. prereq.sh command to lab2
  01-tutorials/07-AgentCore-E2E/images/architecture_lab1_strands.png
  01-tutorials/07-AgentCore-E2E/images/architecture_lab2_memory.png
  01-tutorials/07-AgentCore-E2E/images/architecture_lab3_gateway.png
  01-tutorials/07-AgentCore-E2E/images/architecture_lab4_runtime.png
  01-tutorials/07-AgentCore-E2E/images/architecture_lab5_streamlit.png
  01-tutorials/07-AgentCore-E2E/lab-01-create-an-agent.ipynb
  01-tutorials/07-AgentCore-E2E/lab-02-agentcore-memory.ipynb
  01-tutorials/07-AgentCore-E2E/lab-03-agentcore-gateway.ipynb
  01-tutorials/07-AgentCore-E2E/lab-04-agentcore-runtime.ipynb
  01-tutorials/07-AgentCore-E2E/lab-05-frontend.ipynb
  01-tutorials/07-AgentCore-E2E/lab_helpers/lab1_strands_agent.py
  01-tutorials/07-AgentCore-E2E/lab_helpers/lab4_runtime.py
Labels: 01-tutorials, 07-AgentCore-E2E

#310 Added knowledge base use case
  01-tutorials/07-AgentCore-E2E/prerequisite/infrastructure.yaml
  01-tutorials/07-AgentCore-E2E/scripts/prereq.sh
Labels: 01-tutorials, 07-AgentCore-E2E

#350 finance agent
  02-use-cases/finance-personal-assistant/.gitignore
  02-use-cases/finance-personal-assistant/README.md
  02-use-cases/finance-personal-assistant/images/architecture.png
  02-use-cases/finance-personal-assistant/images/guardrail.png
  02-use-cases/finance-personal-assistant/images/multi-agent.png
  02-use-cases/finance-personal-assistant/images/runtime_overview.png
  02-use-cases/finance-personal-assistant/images/single-agent.png
  02-use-cases/finance-personal-assistant/lab1-develop_a_personal_budget_assistant_strands_agent.ipynb
  02-use-cases/finance-personal-assistant/lab2-build_multi_agent_workflows_with_strands.ipynb
  02-use-cases/finance-personal-assistant/lab3-deploy_agents_on_amazon_bedrock_agentcore.ipynb
  02-use-cases/finance-personal-assistant/requirements.txt
  02-use-cases/finance-personal-assistant/utils/__init__.py
  02-use-cases/finance-personal-assistant/utils/agentcore_utils.py
  02-use-cases/finance-personal-assistant/utils/guardrail.py
  02-use-cases/finance-personal-assistant/utils/message_formatter.py
Labels: 02-use-cases

#351 E2E security fix
  01-tutorials/07-AgentCore-E2E/scripts/prereq.sh
Labels: 01-tutorials, 07-AgentCore-E2E

#367 Update README.md (fixing ADK readme)
  03-integrations/agentic-frameworks/adk/README.md
Labels: 03-integrations, agentic-frameworks

#359 Fix potential AttributeError in SRE agent config parsing
  02-use-cases/SRE-agent/sre_agent/multi_agent_langgraph.py
Labels: 02-use-cases, SRE-agent

#368 Checking Bucket Ownership
  01-tutorials/07-AgentCore-E2E/scripts/prereq.sh
Labels: 01-tutorials, 07-AgentCore-E2E

#369 Finance Assistant Docs changes
  02-use-cases/finance-personal-assistant/lab1-develop_a_personal_budget_assistant_strands_agent.ipynb
  02-use-cases/finance-personal-assistant/lab2-build_multi_agent_workflows_with_strands.ipynb
  02-use-cases/finance-personal-assistant/lab3-deploy_agents_on_amazon_bedrock_agentcore.ipynb
Labels: 02-use-cases

#371 Finance Assistant Write file
  02-use-cases/finance-personal-assistant/lab1-develop_a_personal_budget_assistant_strands_agent.ipynb
  02-use-cases/finance-personal-assistant/lab2-build_multi_agent_workflows_with_strands.ipynb
  02-use-cases/finance-personal-assistant/lab3-deploy_agents_on_amazon_bedrock_agentcore.ipynb
Labels: 02-use-cases

#372 Streaming responses
  02-use-cases/finance-personal-assistant/lab3-deploy_agents_on_amazon_bedrock_agentcore.ipynb
Labels: 02-use-cases

#348 Enable Streamlit App Access on SageMaker; Add Dependencies and Cosmetic Updates
  01-tutorials/03-AgentCore-identity/05-Outbound_Auth_3lo/chatbot_app_cognito.py
  01-tutorials/03-AgentCore-identity/05-Outbound_Auth_3lo/requirements.txt
  01-tutorials/03-AgentCore-identity/05-Outbound_Auth_3lo/runtime_with_strands_and_egress_3lo.ipynb
Labels: 01-tutorials, 03-AgentCore-identity

#383 Self paced lab updates
  01-tutorials/07-AgentCore-E2E/lab-01-create-an-agent.ipynb
  01-tutorials/07-AgentCore-E2E/lab-02-agentcore-memory.ipynb
  01-tutorials/07-AgentCore-E2E/scripts/prereq.ps1
  01-tutorials/07-AgentCore-E2E/scripts/prereq.sh
Labels: 01-tutorials, 07-AgentCore-E2E

#292 Add Observability Integration with Dynatrace
  03-integrations/observability/dynatrace/README.md
  03-integrations/observability/dynatrace/dynatrace.png
  03-integrations/observability/dynatrace/dynatrace.py
  03-integrations/observability/dynatrace/main.py
  03-integrations/observability/dynatrace/pyproject.toml
  03-integrations/observability/dynatrace/travel_agent.py
  03-integrations/observability/dynatrace/uv.lock
Labels: 03-integrations

#413 Update runtime_with_strands_and_langfuse.ipynb
  01-tutorials/06-AgentCore-observability/04-Agentcore-runtime-partner-observability/Langfuse/runtime_with_strands_and_langfuse.ipynb
Labels: 01-tutorials, 06-AgentCore-observability
