Repository awslabs/amazon-bedrock-agentcore-samples, pull requests merged in 2025-10, with the labels that each got.

#432 fix: agentcore sdk version fix
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/01-strands-with-bedrock-model/requirements.txt
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/02-langgraph-with-bedrock-model/requirements.txt
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/03-strands-with-openai-model/requirements.txt
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/04-crewai-with-bedrock-model/research_crew/requirements.txt
  01-tutorials/01-AgentCore-runtime/02-hosting-MCP-server/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/01-streaming-agent-response/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/02-understanding-runtime-context/requirements.txt
  01-tutorials/01-AgentCore-runtime/03-advanced-concepts/03-handling-large-payloads/requirements.txt
  01-tutorials/07-AgentCore-E2E/requirements.txt
Labels: 01-tutorials, 01-AgentCore-runtime, 07-AgentCore-E2E

#423 Adding LangGraph notebooks for agentcore checkpointer and memory store
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-langgraph-agent/images/architecture.png
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-langgraph-agent/math-agent-with-checkpointing.ipynb
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-langgraph-agent/personal-fitness-coach.ipynb
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-langgraph-agent/requirements.txt
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-langgraph-agent/support-agent-human-in-the-loop.ipynb
  01-tutorials/04-AgentCore-memory/01-short-term-memory/README.md
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-langgraph-agent-hooks/architecture.png
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-langgraph-agent-hooks/custom_memory_prompts.py
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-langgraph-agent-hooks/nutrition-assistant-with-user-preference-saving.ipynb
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-langgraph-agent-hooks/requirements.txt
  01-tutorials/04-AgentCore-memory/02-long-term-memory/README.md
Labels: 01-tutorials, 04-AgentCore-memory

#405 Changes to support latest version of browser-use (0.7.9)
  01-tutorials/05-AgentCore-tools/02-Agent-Core-browser-tool/02-browser-with-browserUse/agentcore-browser-tool-live-view-with-browser-use.ipynb
  01-tutorials/05-AgentCore-tools/02-Agent-Core-browser-tool/02-browser-with-browserUse/getting_started-agentcore-browser-tool-with-browser-use.ipynb
  01-tutorials/05-AgentCore-tools/02-Agent-Core-browser-tool/02-browser-with-browserUse/requirements.txt
  CONTRIBUTORS.md
Labels: 01-tutorials, 05-AgentCore-tools

#435 AgentCore Memory: Added Sample code for MemoryManager SDK changes
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-strands-agent/personal-agent-memory-manager.ipynb
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-strands-agent/requirements.txt
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-strands-agent-hooks/customer-support/customer-support-memory-manager.ipynb
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-strands-agent-hooks/customer-support/requirements.txt
Labels: 01-tutorials, 04-AgentCore-memory

#415 Integrations/amazon-sagemakerai/sagemaker-mlflow-agentcore-runtime
  03-integrations/amazon-sagemakerai/sagemaker-mlflow-agentcore-runtime/.gitignore
  03-integrations/amazon-sagemakerai/sagemaker-mlflow-agentcore-runtime/README.md
  03-integrations/amazon-sagemakerai/sagemaker-mlflow-agentcore-runtime/images/sagemaker-mlflow-agentCore.png
  03-integrations/amazon-sagemakerai/sagemaker-mlflow-agentcore-runtime/images/sagemaker-mlflow-output.png
  CONTRIBUTORS.md
Labels: 03-integrations
