Repository awslabs/amazon-bedrock-agentcore-samples, pull requests merged in 2025-08, with the labels that each got.

#290 Fix: avoid duplicate final output in 01-runtime_with_strands_and_bedrock_models strands_claude.py
  01-tutorials/01-AgentCore-runtime/01-hosting-agent/01-strands-with-bedrock-model/runtime_with_strands_and_bedrock_models.ipynb
Labels: 01-tutorials, 01-AgentCore-runtime

#293 fix(02-use-cases): Enhanced database queries and removed sensitive information from config files, use SSM Parameter Store
  02-use-cases/DB-performance-analyzer/README.md
  02-use-cases/DB-performance-analyzer/cleanup.sh
  02-use-cases/DB-performance-analyzer/scripts/lambda-target-analyze-db-performance.py
  02-use-cases/DB-performance-analyzer/scripts/lambda-target-analyze-db-slow-query.py
  02-use-cases/DB-performance-analyzer/scripts/pg_analyze_performance.py
  02-use-cases/DB-performance-analyzer/scripts/pgstat_analyse_database.py
  02-use-cases/DB-performance-analyzer/scripts/setup_database_access.py
  02-use-cases/DB-performance-analyzer/setup_database.sh
Labels: 02-use-cases, DB-performance-analyzer

#170 fix memory tutorial personal agent sample on_message_added
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-strands-agent/personal-agent.ipynb
Labels: 01-tutorials, 04-AgentCore-memory

#316 removing async shopping eg.
  02-use-cases/asynchronous-shopping-assistant/async_shopping_with_strands.py
  02-use-cases/asynchronous-shopping-assistant/asynchronous_shopping_assistant_strands.ipynb
  02-use-cases/asynchronous-shopping-assistant/images/architecture_diagram.png
  02-use-cases/asynchronous-shopping-assistant/images/async_shopping_main.png
  02-use-cases/asynchronous-shopping-assistant/images/aws_built_in_browser_sandbox.png
  02-use-cases/asynchronous-shopping-assistant/images/browser_use_tab.png
  02-use-cases/asynchronous-shopping-assistant/images/click_view_live_session.png
  02-use-cases/asynchronous-shopping-assistant/images/go_to_bedrock_agentcore_console.png
  02-use-cases/asynchronous-shopping-assistant/images/watch_the_agent_interact_with_browser.png
  02-use-cases/asynchronous-shopping-assistant/requirements.txt
Labels: 02-use-cases, asynchronous-shopping-assistant

#309 feat(memory): update tutorial to use Agent state
  01-tutorials/04-AgentCore-memory/01-short-term-memory/01-single-agent/with-strands-agent/personal-agent.ipynb
  01-tutorials/04-AgentCore-memory/01-short-term-memory/02-multi-agent/with-strands-agent/travel-planning-agent.ipynb
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-strands-agent-hooks/customer-support/customer-support.ipynb
  01-tutorials/04-AgentCore-memory/02-long-term-memory/01-single-agent/using-strands-agent-hooks/simple-math-assistant/math-assistant.ipynb
  01-tutorials/04-AgentCore-memory/02-long-term-memory/02-multi-agent/with-strands-agent/travel-booking-assistant.ipynb
Labels: 01-tutorials, 04-AgentCore-memory, Review Ready

#313 Cleanup/remove ds store files
  02-use-cases/enterprise-web-intelligence-agent/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/README.md
  02-use-cases/enterprise-web-intelligence-agent/images/highlevel_arch.png
  02-use-cases/enterprise-web-intelligence-agent/langgraph_impl/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/langgraph_impl/ReadMe.md
  02-use-cases/enterprise-web-intelligence-agent/langgraph_impl/utils/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/shared/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/shared/utils/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/strands/.DS_Store
  02-use-cases/enterprise-web-intelligence-agent/strands/ReadMe.md
  02-use-cases/enterprise-web-intelligence-agent/strands/utils/.DS_Store
Labels: 02-use-cases
